@use '@/assets/scss/mixin' as *;
.general-selection-page {
  ._contents {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    ._title {
      font-size: 36px;
      font-weight: bold;
      color: var(--purple-8c);
    }
    ._actions {
      margin-top: 51px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      column-gap: 20px;
      justify-content: center;

      ._item {
        border: 1px solid #bcccdb;
        border-radius: 13px;
        height: 201px;
        width: 155px;
        box-shadow: 6px 6px 10px #00000033;
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        background-color: white;
        transition:
          background-color 0.3s ease-in-out,
          color 0.3s ease-in-out;

        ._label {
          font-size: 30px;
          font-weight: bold;
          color: var(--dark-63);
          text-align: center;
          transition: color 0.3s ease-in-out;
        }

        ._new {
          font-size: 24px;
          font-weight: 500;
          color: var(--red-5e);
          text-align: center;
        }
      }

      ._item.clicked {
        background: var(--purple-8c);
        ._label {
          color: white;
        }
      }

      ._item:hover {
        background-color: var(--purple-8c);
      }

      ._item:hover ._label {
        color: white;
      }
    }
    ._note {
      font-size: 24px;
      font-weight: bold;
      color: var(--dark-63);
      text-align: center;
    }

    @include mobile-down() {
      margin-top: 85px;
      ._title {
        font-size: 30px;
      }
      ._actions {
        margin-top: 20px;
      }
      ._note {
        font-size: 18px;
      }
    }
  }
}
