@use '@/assets/scss/mixin' as *;

.exam-question-page {
  .question-info-place-holder {
    display: block;
    width: 100%;
    height: 400px;
  }

  .asd-w {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: var(--white-ff);
    flex-direction: column;
    justify-content: center;
    min-height: max-content;
    @include ipad-up() {
      min-height: 218px;
    }

    .aq-content {
      padding: 0;
    }
  }

  .aa-q {
    margin: 10px 0;
    @include ipad-up() {
      margin: 0;
      .a-answer-w .answer-select-wrapper.is-exam.type-0 {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  ::v-deep .s-title,
  .s-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: normal;
    font-size: 14px;
    padding: 10px !important;
    @media (min-width: 960px) {
      padding: 10px 32px 10px 10px !important;
    }

    ::v-deep {
      div,
      p,
      span,
      strong,
      math,
      mstyle {
        font-weight: normal;
        font-size: 14px !important;
      }

      p {
        margin: 0;
      }

      .s-compare-c {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid var(--dark-63);
        width: 100%;

        div {
          padding: 0.5rem !important;
          max-width: inherit;
          display: flex;
          align-items: center;
          justify-content: center;

          &:nth-child(1) {
            background-color: var(--dark-63) !important;
          }

          &:nth-child(2) {
            grid-column: 1/2;
            grid-row: 2/3;
            border-left: 1px solid var(--dark-63);
          }

          &:nth-child(3) {
            background-color: var(--dark-63) !important;
          }
        }
      }
    }

    @include ipad-up() {
      padding: 10px 113px;
      font-size: 24px;
      ::v-deep {
        div,
        p,
        span,
        strong,
        math,
        mstyle {
          font-weight: normal;
          font-size: 24px !important;
          line-height: 36px;
          color: var(--black-29);
        }

        sup {
          font-size: 75%;
        }
      }
    }

    ::v-deep .row.csssDiv {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 10px;
      margin-left: 0;
      margin-right: 0;

      div {
        padding: 0.5rem !important;
        max-width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          background-color: var(--dark-63) !important;
        }
      }
    }
  }

  .a-answer-w {
    display: grid;
    align-content: center;
    width: 100%;
    background-color: var(--white-ff);
    border-top: 4px solid #babcbe80;
  }

  .cat-title {
    font-size: 30px;
    @include tablet-down() {
      font-size: 16px;
    }
  }

  .exam-question-wrapper {
    @include ipad-up() {
      display: grid;
      grid-template-rows: auto 1fr;
      height: 100%;
      border-radius: 15px;
      box-shadow: 0 0 15px #00000033;
      overflow: hidden;
    }

    .exq-i {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--dark-63);
      padding: 14px 10px;
      max-height: 50px;
      @include ipad-up() {
        padding: 20px;
        max-height: 80px;
      }

      .cd-co {
        font-weight: bold;
      }
    }
  }

  .aq-content {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 0;
    margin-bottom: 10px;
    @include ipad-up() {
      margin-bottom: 15px;
    }

    ::v-deep {
      img {
        height: 90px;
        @include ipad-up() {
          height: 180px;
        }
      }
    }
  }

  .is-media-question {
    @include ipad-up() {
      .asd-w {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
      .aq-content {
        margin-bottom: 0;
      }
    }
  }

  .w-container {
    .reading-comprehension {
      margin-top: 30px;
      box-shadow: 0px 0px 15px #00000033;
      border-radius: 15px;
      min-height: 165px;
      padding: 12px 25px;
      @include tablet-down() {
        padding: 15px 10px;
        border-radius: 0;
      }
    }

    .m-content {
      display: grid;
      grid-template-columns: minmax(300px, 1fr) 416px;
      column-gap: 2.72%;
      margin: 71px 0;
      align-items: flex-start;
      row-gap: 40px;
      transition: margin 0.3s ease-in-out;

      /* تثبيت المساحة للـ .w-similar-questions */
      .w-similar-questions {
        box-shadow: 0px 0px 15px #00000033;
        border-radius: 15px;
        height: 194px;
        width: 100%;
        display: grid;
        row-gap: 36px;
        align-items: center;
        justify-content: center;
        align-content: center;
        transition: all 0.3s ease-in-out;

        /* تثبيت مساحة وارتفاع الأزرار */
        b-button {
          min-width: 100px;
          min-height: 60px;
        }

        .__rw_1 {
          font-size: 24px;
          font-weight: bold;
          color: var(--purple-8c);
          text-align: center;
        }

        .__rw_2 {
          display: grid;
          grid-template-columns: repeat(2, 190px);
          column-gap: 36px;
          align-items: center;
          justify-content: center;

          @include outline-btn(var(--purple-8c)) {
            display: grid;
            align-items: center;
            grid-template-columns: 8px auto;
            padding-inline-start: 15px;
            width: 100%;
            height: 60px;
            border-radius: 9px;
            border-width: 2px;
            span {
              font-size: 18px;
              font-weight: bold;
              text-align: center;
              width: 100%;
            }
            i {
              font-size: 9px;
            }
            &:disabled {
              opacity: 0.3;
            }
          }

          @include normal-btn(white, var(--purple-8c)) {
            display: grid;
            align-items: center;
            grid-template-columns: auto 8px;
            padding-inline-end: 15px;
            width: 100%;
            height: 60px;
            border-radius: 9px;
            span {
              font-size: 18px;
              text-align: center;
              font-weight: bold;
              width: 100%;
            }
            i {
              font-size: 9px;
            }
            &:disabled {
              opacity: 0.3;
            }
          }
        }

        /* تحسين استجابة للمقاسات الصغيرة */
        @include tablet-down() {
          row-gap: 25px;
          height: 160px;
          box-shadow: none;
          border-radius: unset;
          grid-row: 2;
          .__rw_1 {
            font-size: 16px;
          }
          .__rw_2 {
            grid-template-columns: repeat(2, 155px);
            column-gap: 20px;
          }
        }
      }

      /* تحسين ترتيب العناصر للمقاسات الصغيرة */
      @include tablet-down() {
        margin: 0 0 46px;
        row-gap: 0;
        &.isText {
          margin: 0 0 46px;
        }
        grid-template-columns: none;
        padding: 0 !important;

        /* تثبيت المساحة */
        .aa-q {
          margin: 0;
        }
        grid-template-areas:
          'question'
          'similar'
          'info';
      }

      /* تحسين المساحة للمقاسات الصغيرة */
      grid-template-areas:
        'question info'
        'similar similar';

      /* تخصيص العناصر */
      .aa-q {
        grid-area: question;
      }
      .question-info-place-holder {
        grid-area: info;
      }
      .w-similar-questions {
        grid-area: similar;
      }
    }

    /*.m-content {
      display: grid;
      //grid-template-columns: 65.78% 31.54%;
      grid-template-columns: minmax(300px, 1fr) 416px;
      column-gap: 2.72%;
      margin: 71px 0;
      align-items: flex-start;
      row-gap: 40px;
      transition: margin 0.3s ease-in-out;
      &.isText {
        margin: 30px 0;
      }

      .w-similar-questions {
        box-shadow: 0px 0px 15px #00000033;
        border-radius: 15px;
        height: 194px;
        width: 100%;
        display: grid;
        row-gap: 36px;
        align-items: center;
        justify-content: center;
        align-content: center;
        transition: all 0.3s ease-in-out;
        .__rw_1 {
          font-size: 24px;
          font-weight: bold;
          color: var(--purple-8c);
          text-align: center;
        }
        .__rw_2 {
          display: grid;
          grid-template-columns: repeat(2, 190px);
          column-gap: 36px;
          align-items: center;
          justify-content: center;
          @include outline-btn(var(--purple-8c)) {
            display: grid;
            align-items: center;
            grid-template-columns: 8px auto;
            padding-inline-start: 15px;
            width: 100%;
            height: 60px;
            border-radius: 9px;
            border-width: 2px;
            span {
              font-size: 18px;
              font-weight: bold;
              text-align: center;
              width: 100%;
            }
            i {
              font-size: 9px;
            }
            &:disabled {
              opacity: 0.3;
            }
          }

          @include normal-btn(white, var(--purple-8c)) {
            display: grid;
            align-items: center;
            grid-template-columns: auto 8px;
            padding-inline-end: 15px;
            width: 100%;
            height: 60px;
            border-radius: 9px;
            span {
              font-size: 18px;
              text-align: center;
              font-weight: bold;
              width: 100%;
            }
            i {
              font-size: 9px;
            }
            &:disabled {
              opacity: 0.3;
            }
          }
        }
        @include tablet-down() {
          row-gap: 25px;
          height: 160px;
          box-shadow: none;
          border-radius: unset;
          grid-row: 2;
          .__rw_1 {
            font-size: 16px;
          }
          .__rw_2 {
            grid-template-columns: repeat(2, 155px);
            column-gap: 20px;
          }
        }
      }

      @include tablet-down() {
        margin: 0 0 46px;
        row-gap: 0;
        &.isText {
          margin: 0 0 46px;
        }
        grid-template-columns: none;
        padding: 0 !important;
        .aa-q {
          margin: 0;
        }
      }
    }*/
  }

  .asd-w.withBg * {
    text-align: right;
  }
}
