.prepare-co {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  .exams-part {
    padding: 0 !important;
  }
}
