body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--web-font);
  text-align: start;
}

span {
  font-family: var(--web-font);
  text-align: start;
}

.main-title {
  color: var(--main-title);
  font-size: 36px;
  font-weight: bold;
  text-align: start;
}

.dateInput {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  background: var(--select-bg);
  color: var(--select-text);
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  display: flex;
  align-items: center;
  &::-webkit-calendar-picker-indicator {
    background: var(--date-input-calender);
    font-size: 21px;
  }
}

.searchInput {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  background: var(--select-bg);
  color: var(--select-text);
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  display: flex;
  align-items: center;
  width: 250px;
  background-image: var(--date-input-calender);
  background-repeat: no-repeat;
  background-position: center;
  &::placeholder {
    color: var(--select-text);
  }
}
