:root {
  --font-number: sans-serif;
  --black-20: #202020;
  --black-24: #001324;
  --black-29: #212529;
  --white-ff: #ffffff;
  --gray-8f: #8f8f8f;
  --gray-29: #00000029;
  --gray-ff: #fafdff;
  --gray-f7: #edf0f7;
  --gray-97: #858997;
  --gray-fb: #f6f7fb;
  --gray-fc: #fbfcfc;
  --gray-f3: #eeeff3;
  --gray-ea: #d6dcea;
  --gray-ed: #ededed;
  --gray-e0: #e0e0e0;
  --gray-99: #999999;
  --gray-91: #838491;
  --gray-d3: #b8c5d3;
  --gray-f4: #ebedf4;
  --gray-f5: #f3f4f5;
  --gray-cc: #d9e1e7cc;
  --gray-7cc: #b7b7b7cc;
  --gray-9c: #9b9b9c;
  --gray-1a: #d9e1e71a;
  --gray-f6: #f6f6f6;
  --gray-fa: #f5f7fa;
  --gray-de: #d8d6de;
  --gray-ee: #e4e6ee;
  --gray-e2: #e2e2e2;
  --gray-8b: #8b8b8b;
  --gray-d1: #c3c6d1;
  --gray-65: #656565;
  --gray-d5: #cdd1d5;
  --gray-b5: #acafb5;
  --gray-be: #babcbe;
  --gray-f2: #e9edf2;
  --gray-2f2: #f2f2f2;
  --gray-63: #4b5363;
  --gray-f9: #f4f4f9;
  --gray-eb: #e8e9eb;
  --dark-1e: #050f1e;
  --dark-2b: #06152b;
  --dark-1d: #040e1d;
  --dark-26: #0a0b26;
  --dark-32: #1a2432;
  --dark-45: #212a45;
  --dark-56: #303956;
  --dark-63: #4b5363;

  --text-8c: #1212488c;
  --text-4d: #31394d;

  --gray-c7: #b6bcc7;
  --purple-e8: #dbcce8;
  --purple-8c: #46008c;
  --purple-c2: #885bc2;
  --purple-af: #834caf;
  --purple-f1: #7c4ef1;
  --purple-e6: #d9c9e6;
  --purple-8d: #4f008d;
  --red-63: #f05563;
  --red-81: #f37681;
  --red-5e: #ff375e;
  --red-f4: #fff1f4;
  --red-27: #d92227;
  --red-81-02: rgba(243, 118, 129, 0.2);
  --green-8c: #01c48c;
  --green-97: #29cb97;
  --green-73: #079c73;
  --green-87: #4ebb87;
  --green-da: #7effda;
  --green-15: #76bf15;
  --yellow-16: #eab316;
  --yellow-42: #ffdc42;
  --yellow-00: #ffb300;
  --yellow-30: #fdc830;
  --orange-35: #f37335;
  --orange-39: #ff6a39;
  --blue-f7: #3183f7;
  --blue-f1: #24a7f1;
  --blue-ff: #38b6ff;
  --blue-f4: #4285f4;
  --blue-fe: #0089fe;
  --blue-d6: #0266d6;

  --shadow-dark-1: 0px 1px 4px #000000;
  --shadow-light-1: 0px 1px 4px #e5e9f2;
  --menu-item-color-active: var(--white-ff);

  --primary: var(--purple-af);
  --secondary: var(--purple-8d);

  &.app-light {
    --scrll-bar-color: var(--purple-8d);
    --scrll-bar-bg: var(--gray-f7);
    --bg-color: var(--gray-f7);
    --menu-bg: var(--white-ff);
    --menu-toggle-bg: var(--white-ff);
    --menu-toggle-color: var(--dark-2b);
    --menu-item-bg: transparent
      linear-gradient(90deg, var(--purple-8d) 0%, var(--purple-f1) 100%) 0% 0%
      no-repeat padding-box;
    --menu-item-color: var(--dark-2b);
    --menu-item-add-bg: var(--purple-8d);
    --menu-item-add-active: var(--purple-8d);
    --m-logout-bg: var(--gray-f7);
    --m-toggle-theme-color: var(--gray-97);
    --m-switch-bg: var(--white-ff);
    --m-switch-color: var(--gray-f7);
    --add-card-bg: var(--white-ff);
    --card-active: var(--purple-8d);
    --add-card-color: var(--gray-c7);
    --employee-card-bg: var(--white-ff);
    --employee-card-shadow: var(--gray-ea);
    --ec-1: var(--dark-2b);
    --ec-2: var(--gray-f4);
    --ec-3: #000;
    --a-forground: var(--gray-f7);
    --b-forground: var(--purple-8d);
    --a-forground-text: var(--dark-2b);
    --a-forground-text-b: var(--gray-8b);
    --a-forground-text-c: var(--white-ff);
    --a1-forground-text: var(--gray-91);
    --tree-for-color: var(--dark-2b);
    --tree-check: var(--purple-af);
    --tree-body-bg: var(--white-ff);
    --tree-label: var(--dark-2b);
    --filter-item-border: var(--gray-cc);
    --input-border: var(--gray-de);
    --input-bg: var(--white-ff);
    --custom-sidebar-bg: var(--white-ff);
    --modal-bg: var(--white-ff);
    --bg-a: var(--white-ff);
    --bg-b: var(--red-81-02);
    --bg-c: var(--dark-2b);
    --bg-1: var(--gray-fb);
    --shadow-1: none;

    --search-bg: var(--white-ff);
    --search-text: var(--text-8c);
    --notifi-bg: var(--purple-8d);
    --notifi-shadow: var(--shadow-light-1);
    --view-toggle-color: var(--gray-c7);
    --view-toggle-bg-active: var(--purple-e8);
    --view-toggle-color-active: var(--purple-8d);
    --select-bg: var(--white-ff);
    --select-text: var(--dark-2b);
    --filter-bg: var(--white-ff);
    --filter-section-bg: var(--gray-fc);
    --filter-section-text-1: var(--red-63);
    --filter-section-text-2: var(--purple-8d);
    --filter-section-text-3: var(--green-8c);
    --filter-icon: var(--purple-af);
    --date-input-calender: url(/images/main-icon/calender.webp) no-repeat;
    --bg-header-sidebar: var(--gray-f6);
    --bg-cat-search: var(--gray-f5);
    --text-cat-search: var(--gray-9c);
    --text-subject-card: var(--dark-26);
    --text2-subject-card: var(--gray-91);
    --bg-subject-card: var(--white-ff);
    --bg-modal: var(--white-ff);
    --bg-card-modal: var(--gray-fb);
    --text-modal: var(--dark-26);
    --text2-modal: var(--dark-2b);
    --text3-modal: var(--gray-91);
    --border-purple-white: var(--purple-af);
    --bg-tab: var(--gray-ee);
    --bg-tab2: var(--gray-f7);
    --text-pur-white: var(--purple-af);
  }
  &.app-dark {
    --scrll-bar-color: var(--gray-f7);
    --scrll-bar-bg: var(--purple-8d);
    --bg-color: var(--dark-1e);
    --menu-bg: var(--dark-2b);
    --menu-toggle-bg: var(--dark-2b);
    --menu-toggle-color: var(--white-ff);
    --menu-item-bg: transparent
      linear-gradient(90deg, var(--purple-8d) 0%, var(--purple-f1) 100%) 0% 0%
      no-repeat padding-box;
    --menu-item-color: var(--white-ff);
    --menu-item-add-bg: var(--purple-f1);
    --menu-item-add-active: var(--purple-f1);
    --m-logout-bg: var(--dark-1e);
    --m-toggle-theme-color: var(--gray-fb);
    --m-switch-bg: var(--purple-e6);
    --m-switch-color: var(--purple-af);
    --add-card-bg: var(--dark-1e);
    --add-card-color: var(--purple-af);
    --card-active: var(--white-ff);
    --employee-card-bg: var(--dark-2b);
    --employee-card-shadow: #000;
    --ec-1: var(--white-ff);
    --ec-2: var(--purple-8d);
    --ec-3: #fff;
    --a-forground: var(--dark-1e);
    --b-forground: var(--purple-8d);
    --a-forground-text: var(--white-ff);
    --a-forground-text-b: var(--gray-fb);
    --a-forground-text-c: var(--dark-1d);
    --a1-forground-text: var(--gray-91);
    --tree-for-color: var(--purple-af);
    --tree-check: var(--purple-af);
    --tree-body-bg: var(--dark-2b);
    --tree-label: var(--white-ff);
    --filter-item-border: var(--gray-1a);
    --input-border: var(--dark-1d);
    --input-bg: var(--dark-2b);
    --custom-sidebar-bg: var(--dark-32);
    --modal-bg: var(--dark-32);
    --bg-a: var(--dark-1d);
    --bg-b: var(--dark-2b);
    --bg-c: var(--white-ff);
    --bg-1: var(--dark-1d);
    --shadow-1: 0 10px 40px #000;

    --main-title: var(--white-ff);
    --search-bg: var(--dark-2b);
    --search-text: var(--white-ff);
    --notifi-bg: var(--purple-af);
    --notifi-shadow: var(--shadow-dark-1);
    --view-toggle-bg: var(--purple-e8);
    --view-toggle-color: var(--gray-c7);
    --view-toggle-bg-active: var(--purple-e8);
    --view-toggle-color-active: var(--purple-8d);
    --select-bg: var(--dark-2b);
    --select-text: var(--white-ff);
    --filter-bg: var(--dark-2b);
    --filter-section-bg: var(--dark-1d);
    --filter-section-text-1: var(--red-63);
    --filter-section-text-2: var(--purple-8d);
    --filter-section-text-3: var(--green-8c);
    --filter-icon: var(--white-ff);
    --date-input-calender: url(/images/main-icon/calender-dark.webp) no-repeat;
    --bg-header-sidebar: var(--dark-2b);
    --bg-cat-search: var(--dark-2b);
    --text-cat-search: var(--white-ff);
    --text-subject-card: var(--white-ff);
    --text2-subject-card: var(--white-ff);
    --bg-subject-card: var(--dark-1d);
    --bg-modal: var(--dark-32);
    --bg-card-modal: var(--dark-1d);
    --text-modal: var(--white-ff);
    --text2-modal: var(--white-ff);
    --text3-modal: var(--white-ff);
    --border-purple-white: var(--white-ff);
    --bg-tab: var(--dark-2b);
    --bg-tab2: var(--dark-1d);
    --text-pur-white: var(--white-ff);
  }
}

.color-purple-af {
  color: var(--purple-af);
}
