@use '@/assets/scss/mixin' as *;

.student-exam-details {
  position: relative;
  margin: 0 auto;

  .st-h {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin: 15px 0;
    @include web-desktop-up() {
      margin: 25px 0;
      padding: 25px 0;
    }

    > img {
      width: 55px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      @include web-desktop-up() {
        width: 160px;
        height: 50px;
      }
    }

    .e-bu {
      justify-self: flex-end;
      height: 40px !important;
      width: 90px !important;
      border-width: 1px !important;
      background-color: transparent;
      border-radius: 100px !important;
      justify-content: flex-start !important;
      @include web-desktop-up() {
        width: 160px !important;
        border-radius: 20px !important;
      }
      img {
        padding-inline-start: 10px;
        padding-inline-end: 5px;
        @include web-desktop-up() {
          padding-inline-end: 15px;
        }
      }
      .app-button-icon {
        font-size: 20px;
      }
      .app-button-label {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .sc-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }
  .at-w {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin-bottom: 17px;
    padding-inline-start: 15px;
    @include web-desktop-up() {
      margin-top: 20px;
      padding-inline-start: 0;
    }
    .at-t {
      align-items: center;
      justify-content: flex-start;
      display: grid;
      grid-template-columns: minmax(0, 1fr) auto;
      margin-bottom: 12px;
      column-gap: 15px;
      padding-inline-end: 15px;
      @include web-desktop-up() {
        margin-bottom: 22px;
        column-gap: 30px;
        padding-inline-end: 0;
      }
      .at-label {
        display: none;
        @include web-desktop-up() {
          display: flex;
        }
        align-items: center;
        justify-content: center;
        min-width: 92px;
        min-height: 37px;
        font-size: 18px;
        font-weight: bold;
        padding: 0 15px;
        border: 1px solid var(--white-ff);
        border-radius: 7px;
        color: var(--white-ff);
      }
    }
  }

  .aa-q {
    position: relative;
    margin: 0;
    @include web-desktop-up() {
      margin: 20px 0;
    }

    .exam-question {
      .exam-question-wrapper {
        .exq-i {
          position: relative;
          background-color: #fff;
          &:after {
            position: absolute;
            content: '';
            width: calc(100% - 40px);
            height: 1px;
            background-color: #e5e5e5;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
          .q-label {
            color: var(--dark-2b);
            font-weight: bold;
            font-size: 24px;
          }

          .__q-feature {
            width: 34px;
            height: 34px;
            border-radius: 8px;
            border-color: var(--yellow-16);
            @include web-desktop-up() {
              width: 130px;
              height: 40px;
              border-radius: 20px;
            }
            .__q-fe-w {
              width: 100%;
              display: grid;
              grid-template-columns: 1fr;
              gap: 10px;
              @include web-desktop-up() {
                grid-template-columns: 14px 1fr;
                padding-inline-start: 10px;
              }
              i {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                color: var(--yellow-16);
                margin-inline-start: 0;
              }
              span {
                font-size: 14px;
                color: var(--yellow-16);
                margin-inline-start: 0;
                line-height: 1;
              }
            }

            &.is-featured {
              @include web-desktop-up() {
              }
              background-color: var(--yellow-16);
              .__q-fe-w {
                i {
                  color: #fff;
                }
                span {
                  color: #fff;
                  padding-inline-start: 15px;
                }
              }
            }
          }

          .__q-flag {
            width: 34px;
            height: 34px;
            border-radius: 8px;
            border-color: var(--red-5e);
            @include web-desktop-up() {
              width: 100px;
              height: 40px;
              border-radius: 20px;
            }
            .__q-fw {
              width: 100%;
              display: grid;
              grid-template-columns: 1fr;
              gap: 10px;
              @include web-desktop-up() {
                grid-template-columns: 14px 1fr;
                padding-inline-start: 10px;
              }
              i {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                color: var(--red-5e);
                margin-inline-start: 0;
              }
              span {
                font-size: 14px;
                color: var(--red-5e);
                margin-inline-start: 0;
                line-height: 1;
              }
            }

            &.is-flagged {
              @include web-desktop-up() {
              }
              background-color: var(--red-5e);
              .__q-fw {
                i {
                  color: #fff;
                }
                span {
                  color: #fff;
                  //padding-inline-start: 15px;
                }
              }
            }
          }

          .cd-co-w {
            color: var(--dark-63);
            width: 100px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid;
            padding: 10px 12px;
            .cd-co {
              font-size: 20px;
            }
          }
        }
      }
      .a-answer-w {
        border-top: none;
        .answer-select-wrapper {
          &.type-0 {
            grid-template-columns: minmax(0, 1fr) !important;
            @include web-desktop-up() {
              grid-template-columns: 1fr 1fr !important;
            }
          }

          .a-select-item.active.is-correct {
            background-color: var(--green-fa);
            color: var(--green-8c);
          }

          .a-select-item.correct-answer {
            background-color: var(--green-fa);
            color: var(--green-8c);
            &::before {
              content: '\f00c';
              font-family: var(--fa-style-family, 'Font Awesome 6 Free');
              font-weight: bold;
              position: absolute;
              left: -12px;
              top: -12px;
              width: 24px;
              height: 24px;
              font-size: 18px;
              color: #fff;
              background-color: var(--green-8c);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 6px;
            }
          }

          .a-select-item.is-wrong {
            background-color: var(--red-ef);
            color: var(--red-5e);
            &::before {
              content: '\f00d';
              font-family: var(--fa-style-family, 'Font Awesome 6 Free');
              font-weight: bold;
              position: absolute;
              left: -12px;
              top: -12px;
              width: 24px;
              height: 24px;
              font-size: 18px;
              color: #fff;
              background-color: var(--red-5e);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
  .s-hero {
    @include ipad-up() {
      position: sticky;
      top: 0;
      z-index: 111;
    }

    .s-start {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background: var(--gray-fa);
      padding: 10px;
      @include ipad-up() {
        padding: 30px 50px;
      }

      .s-title {
        display: block;
        font-weight: bold;
        font-size: 14px;
        color: var(--dark-1e);
        margin-bottom: 10px;
        @include ipad-up() {
          font-size: 24px;
          margin: 0;
        }
      }

      .a-header-action {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;

        .leave-action {
          grid-column: 2;
          width: auto;
          border: none;

          i {
            margin-right: 10px;
          }
        }

        .end-action {
          width: auto;
        }
      }
    }

    .s-end {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background: linear-gradient(90deg, #7840e0 0%, #300378 100%);
      border-radius: 0;
      @include web-desktop-up() {
        border-radius: 25px;
      }
      flex-direction: column;
      overflow: hidden;

      .a-step-meta {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;

        .meta-start {
          span {
            font-size: 25px;
            font-weight: bold;
            color: var(--white);
            opacity: 0.3;
            @include ipad-up() {
              font-size: 50px;
            }
          }
        }

        .meta-end {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white);
          opacity: 0.3;
          font-size: 25px;
          font-weight: bold;
          @include ipad-up() {
            font-size: 50px;
          }

          i {
            margin-inline-end: 10px;
          }

          .a-counter-label {
            min-width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include ipad-up() {
              min-width: 150px;
            }
          }
        }
      }
    }
  }

  .s-question-detail {
  }

  .s-question-actions {
    padding: 15px 10px;
    background: var(--white);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .action-start {
      span {
        font-size: 16px;
        color: var(--dark-1e);
        font-weight: bold;
      }
    }

    .action-end {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-auto-columns: auto;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      margin-inline-start: auto;
      margin-top: 10px;

      @include ipad-up() {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 0;
      }

      @include mobile-down() {
        margin: 0;
        grid-template-columns: repeat(4, 1fr);
        .a-add-button {
          width: 30px;

          i {
            margin: 0 !important;
          }

          span {
            display: none;
          }
        }
      }

      .a-add-button {
        width: 100%;
        font-weight: bold;
      }

      .show-feedback-button {
        color: #fff !important;
        border-color: var(--green-8c) !important;
        background: var(--green-8c) !important;
      }

      .prev-question {
        color: var(--purple-8d) !important;
        border-color: var(--purple-8d) !important;

        .prefix {
          margin-inline-end: 20px;
        }
      }

      .next-question {
        color: #fff !important;
        border-color: #fff !important;
        background: var(--red-63) !important;

        .suffix {
          margin-inline-start: 20px;
        }
      }
    }
  }

  .s-question-answers {
  }

  .ac-action-wrapper {
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: end;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2, 170px);

    .ac-button {
      position: relative;
      border-radius: 30px;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 16px;
      }

      i {
        font-size: 15px;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.note {
        color: var(--green-8c) !important;
        border-color: var(--green-8c) !important;
      }
    }
  }
}
