@import '@/assets/scss/mixin';

.teachers-part {
  .m-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--purple-8c);
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .co-code {
    padding: 14px 25px 13px 28px;
    box-shadow: 0px 0px 15px #00000033;
    border-radius: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    row-gap: 5px;
    .r-part {
      .t-1 {
        font-size: 24px;
        font-weight: bold;
        color: var(--purple-8c);
        .__red {
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
    .l-part {
      span {
        font-size: 14px;
        color: var(--black-24);
        line-height: 24px;
      }
    }

    @include tablet-down() {
      margin: 25px 15px 0;
      padding: 19px 15px 15px;
      .l-part {
        span {
          font-size: 14px;
          line-height: 24px;
          text-align: right;
        }
      }
    }
  }

  .st-tab {
    margin-top: 30px;
    padding: 10px 8px 20px;
    box-shadow: 0px 0px 15px #00000033;
    border-radius: 19px;
    .tab-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      span {
        font-size: 24px;
        font-weight: bold;
        color: var(--purple-8c);
      }
      i {
        font-size: 26px;
        color: var(--yellow-00);
      }
    }
    .tab-contents {
      :deep(.students-table) {
        border: 1px solid #ededed;
        thead {
          height: 56px;
          tr {
            text-align: center;
            th {
              vertical-align: middle;
              background: #fafafa;
              color: var(--purple-8c);
              font-size: 16px;
              font-weight: bold;
              &.fullName {
                text-align: start;
                padding-inline-start: 10px;
              }
            }
          }
        }
        tbody {
          tr {
            background-color: #fafafa;
            height: 56px;
            &:nth-of-type(odd) {
              background-color: white;
            }
            td {
              text-align: right;
              vertical-align: middle;
              max-width: 75px;
              //padding: 0 15px;
              &.control {
                display: flex;
                //min-width: 145px;
                justify-content: start;
                align-items: center;
                //border-right: 1px solid #dddddd;
                //column-gap: 10px;
                height: 56px;
                //padding-inline-start: 10px;
                width: 100px;
                max-width: 100px;
                //@include outline-btn() {
                //  border-radius: 3px;
                //  width: 32px;
                //  height: 32px;
                //  display: flex;
                //  align-items: center;
                //  justify-content: center;
                //  border: 1px solid;
                //  &.whatsapp {
                //    border-color: #25d366;
                //    i {
                //      color: #25d366;
                //      font-size: 14px;
                //    }
                //  }
                //  &.trash {
                //    border-color: var(--red-5e);
                //    i {
                //      color: var(--red-5e);
                //      font-size: 14px;
                //    }
                //  }
                //  &.action {
                //    width: 50px;
                //    border-color: var(--purple-8c);
                //    span {
                //      color: var(--purple-8c);
                //      font-size: 14px;
                //      font-weight: bold;
                //    }
                //  }
                //}
              }
              &.fullName {
                //min-width: 150px;
                text-align: start;
                padding-inline-start: 10px;
              }
              &.answers {
                .__ans {
                  display: grid;
                  column-gap: 8px;
                  align-items: center;
                  grid-template-columns: repeat(3, auto);
                  justify-content: center;

                  .answer-co,
                  .answer-wr {
                    font-size: 14px;
                    font-weight: bold;
                    color: var(--green-8c);
                  }

                  .hr {
                    height: 25px;
                    border-left: 1px solid var(--gray-63);
                    opacity: 0.4;
                  }
                }
              }
              .is-locked {
                display: flex;
                align-items: center;
                column-gap: 8px;
                justify-content: center;
                span {
                  font-size: 14px;
                  font-weight: var(--purple-8c);
                }
              }
            }
            &:first-child {
              td.control {
                border-top: none;
              }
            }
          }
        }
      }
    }
    @include tablet-down() {
      padding: 0;
      margin-top: 25px;
      box-shadow: none;
      .tab-header {
        padding: 0 15px;
        span,
        i {
          font-size: 18px;
        }
      }
      .tab-contents {
        .rw-data {
          margin-top: 10px;
          .cl-item {
            border: 0.5px solid #e8e8e8;
            padding: 10px 15px;
            display: grid;
            row-gap: 9px;
            .rw-1 {
              display: flex;
              justify-content: space-between;
              .cl-r {
                font-size: 16px;
                font-weight: bold;
                color: var(--purple-8c);
              }
              .cl-l {
                .is-locked {
                  display: flex;
                  align-items: center;
                  column-gap: 6px;
                  span {
                    font-size: 14px;
                    font-weight: var(--purple-8c);
                  }
                }
              }
            }

            .rw-2 {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .__item {
                display: grid;
                justify-items: center;
                row-gap: 4px;
                .__label {
                  font-size: 14px;
                  color: var(--gray-63);
                }
                .__data {
                  font-size: 12px;

                  color: var(--dark-2b);
                  &.__bold {
                    font-weight: bold;
                  }
                }
                :deep(.__ans) {
                  display: grid;
                  column-gap: 8px;
                  align-items: center;
                  grid-template-columns: repeat(3, auto);
                  justify-content: center;

                  .answer-co,
                  .answer-wr {
                    font-size: 12px;
                    &:not(.__red) {
                      font-weight: bold;
                    }
                    color: var(--green-8c);
                  }

                  .hr {
                    height: 25px;
                    border-left: 1px solid var(--gray-63);
                    opacity: 0.4;
                  }
                }
              }
              .__actions {
                display: flex;
                width: 145px;
                justify-content: flex-end;
                align-items: center;
                column-gap: 10px;
                @include outline-btn() {
                  border-radius: 3px;
                  width: 32px;
                  height: 32px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid;
                  &.whatsapp {
                    border-color: #25d366;
                    i {
                      color: #25d366;
                      font-size: 14px;
                    }
                  }
                  &.trash {
                    border-color: var(--red-5e);
                    i {
                      color: var(--red-5e);
                      font-size: 14px;
                    }
                  }
                  &.action {
                    width: 50px;
                    border-color: var(--purple-8c);
                    span {
                      color: var(--purple-8c);
                      font-size: 14px;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .co-financial {
    .tab-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      .head-r {
        display: grid;
        row-gap: 5px;
        .t1 {
          font-size: 18px;
          font-weight: bold;
          color: var(--purple-8c);
        }
        .t2,
        .t3 {
          display: flex;
          align-items: center;
          column-gap: 15px;
          font-size: 16px !important;
          font-weight: 500 !important;
          color: var(--dark-2b);
          .__green {
            font-size: 16px;
            font-weight: normal;
            color: var(--green-8c);
          }
        }
      }
      i {
        font-size: 26px;
        color: var(--yellow-00);
      }
    }
    .tab-contents {
      ::v-deep .financial-table {
        border: 1px solid #ededed;
        thead {
          tr {
            text-align: center;
            th {
              vertical-align: middle;
              background: #fafafa;
              color: var(--purple-8c);
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
        tbody {
          tr {
            background-color: #fafafa;
            &:nth-of-type(odd) {
              background-color: white;
            }
            td {
              text-align: center;

              &.userName {
                position: relative;
                .noPacket {
                  position: absolute;
                  width: max-content;
                  top: 10px;
                  right: 45px;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }
        }
      }

      .financial-square {
        margin-top: 15px;
        width: 328px;
        margin-right: auto;
        .fi-cl {
          display: grid;
          grid-template-columns: 240px auto;
          border: 1px solid #ededed;
          height: 34px;
          align-items: center;
          .acc-label {
            border-inline-end: 1px solid #ededed;
            font-size: 14px;
            color: var(--gray-63);
            margin-inline-start: 10px;
            height: 100%;
            display: flex;
            align-items: center;
          }
          .acc-numbers {
            font-size: 14px;
            color: var(--gray-63);
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &.rw-3 {
            height: 54px;
            .acc-label {
              font-weight: bold;
              column-gap: 22px;
              .normal-btn {
                width: 110px;
                height: 32px;
                background-color: var(--purple-8c);
                color: white;
                font-size: 14px;
                border-radius: 3px;
              }
            }

            .acc-numbers {
              font-size: 20px;
              font-weight: bold;
              color: var(--gray-63);
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    @include tablet-down() {
      margin-top: 35px;
      .tab-header {
        padding: 0 15px;
        span,
        i {
          font-size: 18px;
        }
      }

      .table-scroll {
        max-width: 100vw;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }
        .table-responsive-sm {
          min-width: 802px;
        }
      }

      .financial-square {
        margin-left: auto;
      }
    }
  }

  .co-teacher-table {
    box-shadow: 0px 0px 15px #00000033;
    border-radius: 19px;
    padding: 25px 24px 30px;
    .rw-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 24px;
        font-weight: bold;
        color: var(--purple-8c);
      }
      @include normal-btn() {
        width: 110px;
        height: 32px;
        border-radius: 3px;
        font-size: 14px;
        color: white;
        background: var(--purple-8c);
        padding: 0;
      }
    }
  }

  .co-teacher-mobile {
    margin-top: 13px;

    .title-page {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: var(--purple-8c);
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .rw-count {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      padding: 0 9px 0 15px;
      span {
        font-size: 18px;
        font-weight: bold;
        color: var(--purple-8c);
      }
      @include normal-btn() {
        width: 110px;
        height: 32px;
        border-radius: 3px;
        font-size: 14px;
        color: white;
        background: var(--purple-8c);
        padding: 0;
      }
    }

    .rw-data {
      margin-top: 10px;
      .cl-item {
        border: 0.5px solid #e8e8e8;
        padding: 10px 15px;
        display: grid;
        row-gap: 9px;
        .rw-1 {
          span {
            font-size: 16px;
            font-weight: bold;
            color: var(--purple-8c);
          }
        }

        .rw-2 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .__item {
            display: grid;
            justify-items: center;
            row-gap: 4px;
            .__label {
              font-size: 14px;
              color: var(--gray-63);
            }
            .__data {
              font-size: 12px;
              font-weight: bold;
              color: var(--dark-2b);
            }
          }
          .__actions {
            display: flex;
            width: 103px;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            @include outline-btn() {
              border-radius: 3px;
              width: 32px;
              height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
              &.whatsapp {
                border-color: #25d366;
                i {
                  color: #25d366;
                  font-size: 14px;
                }
              }
              &.trash {
                border-color: var(--red-5e);
                i {
                  color: var(--red-5e);
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }

  .co-partner {
    border: 2px solid #bcccdb;
    border-radius: 16px;
    margin-top: 25px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
    .r-part {
      display: grid;
      row-gap: 10px;
      justify-items: center;
      justify-content: flex-start;
      flex-grow: 1;
      .t-1 {
        font-size: 24px;
        font-weight: bold;
        color: var(--green-8c);
      }
      .t-2 {
        font-size: 18px;
        color: black;
        line-height: 36px;
        text-align: center;
      }
    }
    .l-part {
      flex-grow: 1;
      text-align: center;
      @include normal-btn() {
        width: 170px;
        height: 44px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background: var(--green-8c);
        border: 2px solid #ffffff;
        border-radius: 10px;
      }
    }

    @include tablet-down() {
      padding: 30px 10px;
      margin: 25px 15px 0;
      .r-part {
        row-gap: 15px;
        .t-1 {
          font-size: 30px;
        }
        .t-2 {
          font-size: 16px;
          line-height: 34px;
          text-align: right;
        }
      }
      .l-part {
        margin-top: 5px;
        justify-content: center;
        .normal-btn {
          width: 250px;
          font-size: 14px;
          border-radius: 14px;
        }
      }
    }
  }

  .__red {
    color: var(--red-5e) !important;
  }

  @include xs-down() {
    margin-top: 13px;
  }
}

.analytics-student-part {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 19px;
  width: 100%;
  @include xs-down() {
    box-shadow: none;
    border-radius: 0;
  }
}
