@font-face {
  font-family: 'em-icon';
  src: url('fonts/em-icon.woff?fnace0') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*[class^="em-icon-"]:before, [class*=" em-icon-"]:before {
  font-family: 'em-icon',Arial, sans-serif !important;
  content: attr(data-icon);
}*/

[class^="em-icon-"], [class*=" em-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'em-icon',Arial, sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.em-icon-Group-2921:before {
  content: "\e971";

}
.em-icon-Group-2935:before {
  content: "\e972";

}
.em-icon-Group-2936:before {
  content: "\e973";

}
.em-icon-Group-2937:before {
  content: "\e974";

}
.em-icon-Group-2938:before {
  content: "\e975";

}
.em-icon-Group-2942:before {
  content: "\e976";

}
.em-icon-Group-2943:before {
  content: "\e977";

}
.em-icon-Group-3395:before {
  content: "\e978";

}
.em-icon-Group-3396:before {
  content: "\e979";

}
.em-icon-Group-3397:before {
  content: "\e97a";

}
.em-icon-Group-3398:before {
  content: "\e97b";

}
.em-icon-Group-3399:before {
  content: "\e97c";

}
.em-icon-Group-3400:before {
  content: "\e97d";

}
.em-icon-Group-3401:before {
  content: "\e97e";

}
.em-icon-Group-3402:before {
  content: "\e97f";

}
.em-icon-Group-3403:before {
  content: "\e980";

}
.em-icon-Group-3404:before {
  content: "\e981";

}
.em-icon-Group-3405:before {
  content: "\e982";

}
.em-icon-Group-3406:before {
  content: "\e983";

}
.em-icon-Icon-feather-image:before {
  content: "\e984";
}
.em-icon-Icon-open-text:before {
  content: "\e985";

}
.em-icon-address-book:before {
  content: "\e900";

}
.em-icon-address-book-1:before {
  content: "\e901";

}
.em-icon-address-card:before {
  content: "\e902";

}
.em-icon-address-card-1:before {
  content: "\e903";

}
.em-icon-archive:before {
  content: "\e904";

}
.em-icon-balance-scale:before {
  content: "\e905";

}
.em-icon-bell:before {
  content: "\e906";

}
.em-icon-bell-1:before {
  content: "\e907";

}
.em-icon-bell-slash:before {
  content: "\e908";

}
.em-icon-bell-slash-1:before {
  content: "\e909";

}
.em-icon-birthday-cake:before {
  content: "\e90a";

}
.em-icon-book:before {
  content: "\e90b";

}
.em-icon-briefcase:before {
  content: "\e90c";

}
.em-icon-building:before {
  content: "\e90d";

}
.em-icon-building-1:before {
  content: "\e90e";

}
.em-icon-bullhorn:before {
  content: "\e90f";

}
.em-icon-bullseye:before {
  content: "\e910";

}
.em-icon-calculator:before {
  content: "\e911";

}
.em-icon-calendar:before {
  content: "\e912";

}
.em-icon-calendar-1:before {
  content: "\e913";

}
.em-icon-calendar-2:before {
  content: "\e914";

}
.em-icon-calendar-3:before {
  content: "\e915";

}
.em-icon-calendar-alt:before {
  content: "\e916";

}
.em-icon-calendar-alt-1:before {
  content: "\e917";

}
.em-icon-calendar-alt-2:before {
  content: "\e918";

}
.em-icon-calendar-alt-3:before {
  content: "\e919";

}
.em-icon-calendar-check:before {
  content: "\e91a";

}
.em-icon-calendar-check-1:before {
  content: "\e91b";

}
.em-icon-calendar-minus:before {
  content: "\e91c";

}
.em-icon-calendar-minus-1:before {
  content: "\e91d";

}
.em-icon-calendar-plus:before {
  content: "\e91e";

}
.em-icon-calendar-plus-1:before {
  content: "\e91f";

}
.em-icon-calendar-times:before {
  content: "\e920";

}
.em-icon-calendar-times-1:before {
  content: "\e921";

}
.em-icon-certificate:before {
  content: "\e922";

}
.em-icon-chart-area:before {
  content: "\e923";

}
.em-icon-chart-bar:before {
  content: "\e924";

}
.em-icon-chart-bar-1:before {
  content: "\e925";

}
.em-icon-chart-line:before {
  content: "\e926";

}
.em-icon-chart-pie:before {
  content: "\e927";

}
.em-icon-clipboard:before {
  content: "\e928";

}
.em-icon-clipboard-1:before {
  content: "\e929";

}
.em-icon-clock:before {
  content: "\e92a";

}
.em-icon-clock-1:before {
  content: "\e92b";

}
.em-icon-coffee:before {
  content: "\e92c";

}
.em-icon-columns:before {
  content: "\e92d";

}
.em-icon-compass:before {
  content: "\e92e";

}
.em-icon-compass-1:before {
  content: "\e92f";

}
.em-icon-copy:before {
  content: "\e930";

}
.em-icon-copy-1:before {
  content: "\e931";

}
.em-icon-copyright:before {
  content: "\e932";

}
.em-icon-copyright-1:before {
  content: "\e933";

}
.em-icon-cut:before {
  content: "\e934";

}
.em-icon-edit:before {
  content: "\e935";

}
.em-icon-edit-1:before {
  content: "\e936";

}
.em-icon-envelope:before {
  content: "\e937";

}
.em-icon-envelope-1:before {
  content: "\e938";

}
.em-icon-envelope-open:before {
  content: "\e939";

}
.em-icon-envelope-open-1:before {
  content: "\e93a";

}
.em-icon-envelope-square:before {
  content: "\e93b";

}
.em-icon-eraser:before {
  content: "\e93c";

}
.em-icon-fax:before {
  content: "\e93d";

}
.em-icon-file:before {
  content: "\e93e";

}
.em-icon-file-1:before {
  content: "\e93f";

}
.em-icon-file-alt:before {
  content: "\e940";

}
.em-icon-file-alt-1:before {
  content: "\e941";

}
.em-icon-folder:before {
  content: "\e942";

}
.em-icon-folder-1:before {
  content: "\e943";

}
.em-icon-folder-open:before {
  content: "\e944";

}
.em-icon-folder-open-1:before {
  content: "\e945";

}
.em-icon-globe:before {
  content: "\e946";

}
.em-icon-Group-2999:before {
  content: "\e947";
}
.em-icon-Group-3000:before {
  content: "\e948";
}
.em-icon-Group-3001:before {
  content: "\e949";
}
.em-icon-Group-3002:before {
  content: "\e94a";
}
.em-icon-Group-3003:before {
  content: "\e94b";
}
.em-icon-Group-3004:before {
  content: "\e94c";
}
.em-icon-Group-3005:before {
  content: "\e94d";
}
.em-icon-Group-3007:before {
  content: "\e94e";
}
.em-icon-Group-3008:before {
  content: "\e94f";
}
.em-icon-Group-3009:before {
  content: "\e950";
}
.em-icon-Group-3010:before {
  content: "\e951";
}
.em-icon-Group-3169:before {
  content: "\e952";
}
.em-icon-hourglass:before {
  content: "\e953";

}
.em-icon-hourglass-1:before {
  content: "\e954";

}
.em-icon-hourglass-end:before {
  content: "\e955";

}
.em-icon-hourglass-half:before {
  content: "\e956";

}
.em-icon-hourglass-start:before {
  content: "\e957";

}
.em-icon-Icon-material-update:before {
  content: "\e958";

}
.em-icon-industry:before {
  content: "\e959";

}
.em-icon-paperclip:before {
  content: "\e95a";

}
.em-icon-paste:before {
  content: "\e95b";

}
.em-icon-pencil-alt:before {
  content: "\e95c";

}
.em-icon-pen-square:before {
  content: "\e95d";

}
.em-icon-percent:before {
  content: "\e95e";

}
.em-icon-phone:before {
  content: "\e95f";

}
.em-icon-phone-square:before {
  content: "\e960";

}
.em-icon-phone-volume:before {
  content: "\e961";

}
.em-icon-Rectangle--1:before {
  content: "\e962";
}
.em-icon-Rectangle-1261:before {
  content: "\e963";
}
.em-icon-registered:before {
  content: "\e964";

}
.em-icon-registered-1:before {
  content: "\e965";

}
.em-icon-save:before {
  content: "\e966";

}
.em-icon-save-1:before {
  content: "\e967";

}
.em-icon-sitemap:before {
  content: "\e968";

}
.em-icon-sticky-note:before {
  content: "\e969";

}
.em-icon-sticky-note-1:before {
  content: "\e96a";

}
.em-icon-stopwatch:before {
  content: "\e96b";

}
.em-icon-table:before {
  content: "\e96c";

}
.em-icon-tag:before {
  content: "\e96d";

}
.em-icon-tags:before {
  content: "\e96e";

}
.em-icon-tasks:before {
  content: "\e96f";

}
.em-icon-thumbtack:before {
  content: "\e970";

}
