@use '@/assets/scss/mixin' as *;

.admin-menu {
  position: relative;
  height: 100%;
  transition: right 0.3s ease-in-out;
  @include ipad-down() {
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 999;
  }
  .admin-mobile-menu-overlay {
    display: none;
    @include ipad-down() {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: var(--dark-2b);
      opacity: 0.6;
    }
  }
  .admin-mobile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 94px;
    background-color: var(--menu-bg);
    .am-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 28px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      i {
        font-size: 30px;
        color: var(--purple-f1);
      }
    }
    .am-logo {
      width: 120px;
      height: 67px;
      img {
        width: 120px;
        height: 67px;
      }
    }
    @include desktop-up() {
      display: none;
    }
  }
  a {
    text-decoration: none;
  }
  .m-toggle {
    position: absolute;
    z-index: 4;
    left: -20px;
    top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: var(--menu-toggle-bg);
    box-shadow: #0000000d 0 6px 15px;
    border-radius: 50%;
    cursor: pointer;
    i {
      color: var(--menu-toggle-color);
      font-size: 13px;
    }
  }
  .m-wrapper {
    position: relative;
    z-index: 3;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--menu-bg);
    width: 285px;
    border-radius: 23px 0px 0px 23px;
    transition: width 0.3s ease-in-out;

    .m-logo {
      position: relative;
      margin: 25px 0;
      width: 140px;
      height: 78px;
      img {
        display: block;
        margin: 0 auto;
        width: 140px;
        height: 78px;
      }
    }
  }

  .m-list {
    display: grid;
    width: 100%;
    max-height: 100vh;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: center;
    padding: 0 6px;
    overflow-y: auto;
    overflow-x: hidden;
    /* Works on Chrome, Edge, and Safari */
    @include app-scroll-bar();
  }

  .m-logout {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 56px;
    width: 100%;
    margin-bottom: 5px;
    color: var(--menu-item-color);
    background: var(--m-logout-bg);
    border-radius: 8px;
    margin-top: 60px;
    .m-icon {
      font-size: 26px;
      margin: 0 23px 0 12px;
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .m-label {
      transition: all 0.3s ease-in-out;
      display: inline-block;
      font-size: 14px;
    }
  }

  .m-theme-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0 20px 0;
    .m-label {
      font-size: 14px;
      color: var(--m-toggle-theme-color);
      margin-right: 25px;
      margin-left: 50px;
    }
    ::v-deep {
      .vue-js-switch {
        margin: 0;
      }
      .v-switch-core {
        background-color: var(--m-switch-bg) !important;
        box-shadow: #8f95a380 0 5px 15px;
      }
      .v-switch-button {
        background-color: var(--m-switch-color) !important;
      }
    }
  }

  .m-footer {
    &.isEmployee {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-inline-start: 12px;
      display: grid;
      justify-items: center;
      left: 6px;
    }
  }
}
