@import "@/assets/scss/mixin";

.web-content-page {
  background: #fff;

  :deep(hr){
    margin: 1rem 0;
    color: inherit;
    background-color: rgba(0,0,0,.1);
    border: 0;
    height: 1px;
  }

  .a-part {
    background-image: url(/images/content-page-bg.webp);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 15px 0 30px 0;
    @include tablet-up() {
      padding-bottom: 50px;
    }

    .a-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      h1 {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 10px;
        @include ipad-up() {
          font-size: 50px;
        }
      }

      .date-wrapper {
        span {
          font-size: 14px;
          color: #fff;
          @include ipad-up() {
            font-size: 22px;
          }
        }
      }
    }
  }

  .c-part {
    padding: 20px 0;
    margin: 0 auto;

    .c-content {
      padding: 20px;
      @include tablet-up() {
        padding: 66px;
        width: 600px;
        box-shadow: 0 2px 48px #0000000F;
      }
      @include ipad-up() {
        width: 800px;
      }
      @include desktop-up() {
        width: 1000px;
      }
    }
  }
}
