@use '@/assets/scss/mixin' as *;

.user-panel {
  padding: 30px 40px 50px;
  display: grid;
  grid-template-columns: 416px 868px;
  align-items: flex-start;
  justify-content: center;
  column-gap: 36px;
  .rw-panel,
  .rw-info {
    box-shadow: 0px 0px 15px #00000033;
    border-radius: 19px;
    width: 100%;
    @include ipad-up() {
      min-height: 630px;
      //max-width: calc(70.3vw - 45px);
      height: 100%;
    }
    .img-group {
      position: relative;
      width: 150px;
      height: 150px;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }

      .c-btn {
        position: absolute;
        left: 30px;
        bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 90px;
        height: 18px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 19px;

        .change-image {
          display: grid;
          grid-template-columns: 10px auto;
          column-gap: 7px;
          align-items: center;
          justify-content: center;
          span {
            font-size: 10px;
            color: #001324;
          }
          i {
            font-size: 10px;
            color: black;
          }
        }
      }
    }
    .full-name {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: var(--purple-8c);
      margin-top: 20px;
    }
    .user-name {
      font-size: 14px;
      text-align: center;
      color: var(--gray-63);
      margin-top: 5px;
    }
    .type-switch {
      @media (max-width: 1300px) {
        zoom: 0.75;
      }
    }
    @include tablet-down() {
      box-shadow: none;
      max-width: 100%;
    }
    &.isTeachers {
      box-shadow: none;
    }
  }
  .rw-panel {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 30px 58px 57px;
    min-height: 660px;
    .exams-btn {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
    .action-list {
      margin-top: 20px;
      display: grid;
      row-gap: 10px;
      width: 100%;
      .list-item {
        box-shadow: 0px 0px 5px #00000040;
        border: 0.5px solid #00000033;
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 12px 12px 8px;
        cursor: pointer;
        position: relative;
        .r-part {
          display: grid;
          grid-template-columns: 16px auto;
          grid-auto-flow: column;
          column-gap: 10px;
          align-items: center;
          .label {
            font-size: 14px;
            font-weight: bold;
            color: var(--purple-8c);
          }
          &__badge {
            font-size: 12px;
            color: var(--green-8c);
            border: 1px solid var(--green-8c);
            border-radius: 20px;
            padding: 2px 6px;
            @include ipad-down() {
              font-size: 9px;
            }
          }
        }
        i {
          font-size: 12px;
          color: var(--purple-8c);
        }
        .c-notification {
          position: absolute;
          right: 110px;
          background: var(--red-5e);
          border-radius: 50%;
          width: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          span {
            font-size: 13px;
            color: white;
            font-weight: bold;
          }
        }
        &.active {
          background: var(--purple-8c);
          .r-part {
            .label {
              color: white;
            }
            img {
              filter: brightness(0) invert(1);
            }
          }
          i {
            color: white;
          }
        }
        &.is-red {
          span,
          i {
            color: var(--red-5e) !important;
          }
          &.active {
            span,
            i {
              color: white !important;
            }
          }
        }
      }
    }
  }
  .rw-info {
    .user-group {
      display: grid;
      margin-top: 25px;
      justify-items: center;
    }
    .u-wrapper {
      margin-top: 46px;
      @include ipad-up() {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
      }
      .r-wrapper {
        display: block;
        margin-top: 10px;
        border-bottom: solid 2px rgba(0, 0, 0, 0.1);

        &:nth-child(1) {
          //margin-top: 0;
        }

        &:nth-child(6) {
          border-bottom: none;
          @include mobile-down() {
            margin-bottom: 20px;
          }
          margin-bottom: 30px;
        }

        .r-element {
          padding: 0;
          margin-bottom: 9px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          @media (min-width: 768px) {
            height: 22px;
          }
          @include tablet-down() {
            padding: 0 15px;
          }
          @include mobile-down() {
            margin-bottom: 10px;
          }

          .r-1 {
            @include mobile-down() {
              display: flex;
              flex-direction: column;
            }
            display: grid;
            grid-template-columns: 112px auto;
            grid-column-gap: 10px;

            span {
              display: block;
              font-size: 16px;
              color: var(--black-24);
            }

            .r-label-wrapper {
              display: flex;
              align-items: center;
            }

            .r-label {
              font-weight: bold;
              line-height: 24px;
              @include mobile-down() {
                margin-bottom: 5px;
              }
            }

            .r-val {
              line-height: 22px;
              &.password {
                display: flex;

                span {
                  display: inline-block;
                }
              }
            }
          }

          .r-action {
            display: flex;
            align-items: center;

            span {
              display: block;
              cursor: pointer;
              font-size: 16px;
              line-height: 22px;
              color: var(--purple-8c);
            }

            .add {
              font-weight: bold;
            }
          }
        }
      }

      .verify-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        //margin-bottom: 44px;
        .verify-account-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 300px;
          margin-bottom: 10px;
          border-radius: 3px !important;

          span {
            font-size: 13px;
            line-height: 25px;
            font-weight: bold;
          }
        }

        .verify-label {
          display: block;
          font-size: 12px;
          line-height: 22px;
          color: var(--black-24);
        }
      }

      .ac-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px 15px 15px 15px;
        background: var(--gray-2f2);
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);

        .ac-title {
          display: block;
          font-size: 16px;
          line-height: 27px;
          font-weight: bold;
          color: var(--black-24);
          margin-bottom: 10px;
        }

        .ac-control-wrapper {
          display: grid;
          grid-row-gap: 15px;
          margin-bottom: 20px;
        }

        .ac-control {
          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 20px;
          align-items: center;
          margin-left: auto;
          margin-right: auto;

          &.invalid {
            input {
              border-color: var(--red-63) !important;
            }
          }

          label {
            margin: 0;
            width: auto;
          }

          input {
            width: 160px;
            height: 32px !important;
            line-height: 32px !important;
            border-radius: 3px !important;
          }
        }

        &.password {
          .ac-control {
            position: relative;
            grid-template-columns: 140px 190px;
            grid-column-gap: 0;

            input {
              width: 190px;
              padding-left: 35px;
            }

            .show-pass {
              left: 12px;
              font-size: 20px;
              color: var(--grey-59);
            }
          }
        }

        &.phone,
        &.whatsapp {
          .ac-control-wrapper {
            margin-bottom: 22px;
          }

          .ac-control {
            position: relative;
            grid-template-columns: 90px 300px;
            grid-column-gap: 0;

            label {
              //margin-top: -15px;
            }

            input {
              width: 210px;
            }

            .validation-message {
              font-size: 10px;
            }

            @include mobile-down() {
              label {
                display: none;
              }
              position: relative;
              grid-template-columns: 300px;
              grid-column-gap: 0;
              align-items: center;
              align-content: center;
              justify-content: center;
              width: 100%;
            }
          }
        }

        &.email {
          .ac-control-wrapper {
            margin-bottom: 10px;
          }

          .ac-control {
            position: relative;
            grid-template-columns: 110px 190px;
            grid-column-gap: 0;

            input {
              width: 190px;
            }

            .validation-message {
              grid-column: 2/3;
            }
          }
        }

        .m-note {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 300px;
          height: 60px;
          background: rgba(0, 0, 0, 0.15);
          font-size: 11px;
          line-height: 20px;
          color: #000;
          margin: 0 auto 14px;
          font-weight: 500;
        }

        .ac-action {
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-column-gap: 10px;
          margin: 0 auto;

          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: auto;
            width: 80px;
            height: 32px;
            border-radius: 3px !important;
            color: white;

            &.save {
              font-size: 14px;
              background: var(--purple-8c);
            }

            &.cancel {
              font-size: 16px;
              background: var(--gray-7cc);
              border-color: transparent;
            }

            span {
              font-weight: 500;
              line-height: 27px;
            }
          }
        }
      }
      @include tablet-down() {
        padding-bottom: 60px;
      }
    }
  }

  .rw-news {
    display: grid;
    row-gap: 36px;
    margin-top: 25px;

    .cl-news {
      display: grid;
      .c-title {
        font-size: 22px;
        font-weight: bold;
        color: var(--gray-63);
        line-height: 32px;
      }
      .c-short-desc {
        font-size: 14px;
        color: var(--black-24);
        height: 48px;
        line-height: 22px;
        overflow: hidden;
        margin-top: 5px;
        &.all {
          height: 100%;
          overflow: visible;
        }
      }
      .readMore {
        color: #0266d6;
        cursor: pointer;
        font-size: 14px;
        text-decoration-line: underline;
        margin-top: 3px;
      }
    }
  }

  /*.sm-fixed-part {
    position: fixed;
    bottom: 0;
    z-index: 20;
    background: white;
    padding: 10px;
    border-top: 1px solid var(--purple-8c);
    display: flex;
    justify-content: center;
    width: 100%;
    @include normal-btn() {
      border-radius: 20px;
      height: 40px;
      width: 145px;
      background: var(--purple-8c);
      color: white;
      font-size: 14px;
      font-weight: bold;
    }
  }*/

  @include lg-down() {
    padding: 30px 10px 50px;
    grid-template-columns: 29.7% calc(70.3% - 45px);
    column-gap: 15px;
    &:not(.isExam) {
      max-width: 100vw;
    }
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet-down() {
    grid-template-columns: 1fr;
    padding: 0;
    .rw-user-panel {
      grid-row: 2;
      padding: 0 15px 50px;
    }
    .rw-info {
      border-radius: 0;
      .u-wrapper {
        margin-top: 25px;
      }
    }

    .rw-news {
      margin-top: 0;
    }
  }
}

.rw-ads {
  display: grid;
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 9px 13.15% 7px 13.3%;
  min-height: 110px;
  background-color: #eaeaea;
  justify-content: center;
  position: relative;
  img {
    width: 100%;
    max-width: 300px;
  }
  @include normal-btn() {
    background: transparent;
    border: 0.5px solid var(--purple-8c);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    color: var(--purple-8c);
    width: 80px;
    height: 32px;
    position: absolute;
    top: calc(50% - 16px);
    left: 2.78%;
  }
  @include tablet-down() {
    min-height: 55px;
    padding: 5px 4px;
    .hide-btn {
      display: none;
    }
  }
}

.fail-payment {
  display: grid;
  justify-content: center;
  row-gap: 10px;
  margin-top: 30px;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  .c-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--red-5e);
    height: 26px;
    justify-content: center;
    i {
      margin-inline-end: 10px;
    }
  }
  .c-msg {
    font-size: 16px;
    color: var(--black-24);
    text-align: center;
  }
}

::v-deep .select-global {
  width: 200px;
  //border: 1px solid;
  height: 50px;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  .a-select {
    .a-part {
      background: var(--select-bg);
      padding: 8px 12px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      width: 197px;
      justify-content: space-between;
      span {
        font-size: 15px;
        color: var(--purple-8c);
      }
      i {
        color: var(--purple-8c);
      }
    }
  }
}

::v-deep {
  #modal-edit-mail,
  #modal-edit-phone {
    border-radius: 15px;
    height: 430px;
    width: 360px !important;

    .code-part {
      display: grid;
      justify-content: center;
      .t-1 {
        font-size: 24px;
        font-weight: bold;
        color: var(--purple-8c);
        text-align: center;
      }
      .t-2 {
        margin-top: 35px;
        font-size: 16px;
        font-weight: 500;
        color: var(--gray-63);
        text-align: center;
      }
      .t-3 {
        margin-top: 6px;
        font-size: 16px;
        font-weight: 500;
        color: var(--purple-8c);
        text-align: center;
      }
      .t-code-input {
        margin-top: 30px;
      }
      .tries-limit {
        font-size: 16px;
        color: var(--gray-63);
        opacity: 0.75;
        position: absolute;
        top: 300px;
        left: 35px;
      }

      .note-spam {
        font-size: 16px;
        color: var(--gray-63);
        opacity: 0.75;
        position: absolute;
        top: 335px;
        left: 25px;
      }
      .re-send {
        position: absolute;
        bottom: 20px;
        right: calc(50% - 21px);
        text-align: center;
        font-size: 14px;
        margin-top: 132px;
        color: var(--purple-8c);
        text-decoration-line: underline;
        cursor: pointer;
        &.disable {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }

    .fa-close {
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 14px;
      cursor: pointer;
      color: var(--purple-8d);
    }

    .next-btn {
      text-align: end;
      @include normal-btn(white) {
        width: 90px;
        height: 39px;
      }
    }

    .code-part {
      .code-title {
        font-size: 20px;
        margin-bottom: 15px;
      }

      &.wrong-code {
        ::v-deep .vue-pincode-input {
          box-shadow: 0 0 3px rgb(255 0 0);
        }
      }

      .wrong-code {
        position: absolute;
        top: 225px;
        left: 115px;
        margin-top: 15px;
        font-size: 12px;
        color: var(--red-63);
        text-align: center;
      }
    }
  }
}
