@import '@/assets/scss/mixin';

.exams-part {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  padding: 20px 33px;
  max-width: 100%;

  .btn-glow {
    background: #46008c;
    color: white;
    font-size: 20px;
    font-weight: 500;
    //padding: 12px 24px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(70, 0, 140, 0.6);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    animation: pulse 1.5s infinite;
    width: 160px;
    height: 40px;
    @include mobile-down() {
      width: 120px;
      font-size: 16px;
    }
  }

  .btn-glow:hover {
    transform: scale(1.03);
  }

  /* نبض */
  @keyframes pulse {
    0% {
      box-shadow: 0 0 10px rgba(70, 0, 140, 0.6);
    }
    50% {
      box-shadow: 0 0 20px rgba(70, 0, 140, 0.9);
    }
    100% {
      box-shadow: 0 0 10px rgba(70, 0, 140, 0.6);
    }
  }

  /* وميض متحرك */
  @keyframes shimmer {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .sr-ho-button {
    width: 125px !important;
    height: 35px !important;
    border-radius: 3px;
  }

  .t-title {
    color: var(--purple-8c);
    font-weight: bold;
    text-align: right;
    font-size: 18px;
    @include web-desktop-up() {
      font-size: 24px;
    }
  }
  .t-text {
    margin-top: 10px;
    font-size: 14px;
    color: var(--black-24);
    line-height: 24px;
    white-space: pre-line;
  }

  .training-count {
    .remind {
      font-weight: bold;
      color: var(--yellow-00);
      font-size: 14px;
      .count {
        font-size: 18px;
        color: var(--red-5e);
      }
    }
    .finish {
      font-weight: bold;
      color: var(--red-5e);
      font-size: 14px;
    }
    @include mobile-down() {
      margin-top: 15px;
    }
  }

  .switch {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  .rw-cards {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 22px;
    row-gap: 15px;
    justify-items: center;
    .card {
      border-radius: 15px;
      box-shadow: 0px 0px 15px #00000033;
      max-width: 390px;
      border: none;
      .ca-head {
        background: var(--gray-f2);
        display: grid;
        grid-template-columns: 26px auto;
        column-gap: 10px;
        align-items: center;
        padding-inline-start: 20px;
        height: 50px;
        label {
          font-size: 20px;
          font-weight: 500;
          color: var(--orange-39);
          cursor: pointer;
        }
      }
      :deep(.ca-contents) {
        padding: 10px 45px;
        display: grid;
        grid-template-columns: repeat(3, 90px);
        align-items: center;
        column-gap: 15px;
        row-gap: 10px;
        .item {
          height: 60px;
          width: 90px;
          border-radius: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          box-shadow: 0px 0px 6px #0000003d;
          background: white;
          cursor: pointer;
          span {
            text-align: center;
            color: var(--gray-63);
            line-height: 22px;
            font-size: 14px;
            font-weight: 500;
          }
          &.active {
            background: var(--purple-8c);
            box-shadow: none;
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .rw-info {
    margin-top: 15px;
    &.all {
      margin-top: 25px;
    }
    border: 1px solid #70707080;
    border-radius: 15px;
    padding: 19px 15px 21px;
    display: grid;
    justify-items: center;
    .i-title {
      font-size: 22px;
      font-weight: bold;
      color: var(--orange-39);
      text-align: center;
      line-height: 32px;
    }
    .i-items {
      margin-top: 14px;
      display: grid;
      grid-auto-flow: column;
      column-gap: 40px;
      row-gap: 20px;
      .i-item {
        display: grid;
        row-gap: 6px;
        min-width: 84px;
        .i-label {
          font-size: 16px;
          font-weight: bold;
          color: var(--purple-8c);
          text-align: center;
        }
        .i-info {
          font-size: 16px;
          color: var(--gray-63);
          line-height: 22px;
          text-align: center;
        }
      }
    }
    .i-no-selected-note {
      font-size: 16px;
      font-weight: bold;
      color: var(--red-5e);
      text-align: center;
      margin-top: 30px;
    }
    @include normal-btn() {
      margin-top: 20px;
      width: 160px;
      height: 40px;
      border-radius: 3px;
      color: white;
      font-weight: 500;
      font-size: 20px;
    }
  }

  .rw-bank {
    margin-top: 25px;
    box-shadow: 0px 0px 15px #00000033;
    border-radius: 15px;
    :deep(.cw-bank) {
      border-radius: 15px;
      .c-head {
        background: var(--gray-f2);
        height: 50px;
        padding: 8px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px 15px 0 0;
        cursor: pointer;

        .r-part {
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: flex-start;

          i {
            font-size: 20px;
            color: var(--green-8c);
          }

          span {
            font-size: 20px;
            color: var(--orange-39);
          }
        }

        .l-part {
          i {
            color: var(--orange-39);
          }
        }
      }
    }

    #bank-exam-collapse,
    #bank-training-collapse {
      .__bank {
        padding: 20px 16px;
        .__filter,
        .__filter_bank,
        .__filter_level {
          border: 1px solid var(--purple-8c);
          padding: 18px 15px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 123px;
          .c1-wq {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            @include ipad-down() {
              //align-items: flex-start;
            }
            &__qe {
              display: flex;
              align-items: center;
              justify-content: center;
              @include lg-up() {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
              }
              //flex items-center justify-start
            }
            &__la {
              display: inline-block;
              font-size: 14px;
              margin-inline-end: 6px;
              @include web-desktop-only() {
                @media (min-width: 1167px) {
                  font-size: 11px;
                }
              }
            }
          }
          .__c1 {
            display: grid;
            grid-auto-flow: column;
            column-gap: 10px;
            align-items: baseline;
            justify-content: center;
            &.qwe {
              margin-top: 10px;
            }
            .service-loc-icon {
              font-size: 22px;
            }

            span {
              font-size: 16px;
              font-weight: bold;
              color: var(--purple-8c);
            }

            i {
              font-size: 18px;
              color: var(--purple-8c);
            }
          }

          .__c2 {
            width: 300px;
          }
        }
        .__reset {
          display: flex;
          justify-content: end;
          margin-top: 15px;
          margin-inline-end: 4px;
          @include outline-btn() {
            border: 1px solid var(--purple-8c);
            height: 40px;
            width: 120px;
            border-radius: 8px;
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mobile-down() {
              font-size: 15px;
              width: 110px;
              padding: 0;
            }
          }
        }
        .__full-filter {
          display: grid;
          grid-template-columns: auto 210px;
          column-gap: 10px;
          row-gap: 10px;
          align-items: center;
          align-content: center;
          .__filter_bank {
            grid-row: 1;
            grid-column: 1;
            width: 100%;
            grid-template-columns: minmax(0, 1fr);
            justify-items: center;
          }
          .__filter_level {
            grid-row: 2;
            grid-column: 1;
            width: 100%;
            grid-template-columns: minmax(0, 1fr);
            justify-items: center;
          }
          .__options {
            grid-template-columns: minmax(0, 1fr);
            justify-items: center;
            grid-row: span 2;
            grid-column: 2;
            border: 1px solid var(--purple-8c);
            padding: 15px 15px 22px;
            border-radius: 8px;
            display: grid;
            row-gap: 15px;
            justify-content: center;
            .__t {
              font-size: 18px;
              font-weight: bold;
              color: var(--purple-8c);
              text-align: center;
            }
            .__groups {
              display: grid;
              row-gap: 20px;
              .__group {
                display: flex;
                column-gap: 7px;
                justify-content: space-between;

                .__c1 {
                  .__r1 {
                    font-size: 16px;
                    color: var(--red-27);
                  }

                  .__r2 {
                    font-size: 14px;
                  }
                }

                &.starred {
                  .__c1 .__r1 {
                    color: #0266d6;

                    i {
                      font-size: 14px;
                    }
                  }
                }

                &.takfel {
                  .__c1 .__r1 {
                    color: var(--green-8c);

                    i {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
          @include ipad-down() {
            grid-template-columns: 1fr;
            .__options {
              grid-row: 3;
              grid-column: auto;
            }
          }
          @include tablet-down() {
            .__filter_level,
            .__filter_bank {
              border: none;
              display: grid;
              justify-content: center;
              //padding: 18px 0;
            }
            .__options {
              margin-top: 20px;
            }
          }
        }
        .__filter_level {
          //opacity: 0.5;
          //pointer-events: none;
        }
        @include ipad-down() {
          padding: 20px 15px;
          .__filter,
          .__filter_bank,
          .__filter_level {
            display: grid;
            align-items: center;
            justify-content: center;
            row-gap: 15px;
            border: none;
            height: 100%;
          }
          .__filter_level {
          }
        }
      }
    }

    @include tablet-down() {
      #bank-exam-collapse {
        .__reset {
          margin-top: 50px !important;
        }
      }
    }

    &.is-close {
      box-shadow: none;
      :deep(.cw-bank) {
        .c-head {
          border-radius: 15px;
        }
      }
    }
  }

  @include ipad-down() {
    .rw-cards {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      //flex-wrap: wrap;
      justify-content: center;
      .card {
        max-width: 100%;
        width: 100%;
        .ca-contents {
          //padding: 10px 15px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          column-gap: 15px;
          row-gap: 10px;
        }
      }
    }
  }

  @include tablet-down() {
    padding: 15px 13px 30px;
    .rw-cards {
      .card {
        max-width: 50%;
        width: calc(50% - 11px);
        .ca-contents {
          padding: 10px 14px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          column-gap: 14px;
          row-gap: 10px;
        }
      }
    }
    .rw-info {
      margin-top: 20px;
      &.all {
        margin-top: 15px;
      }
      padding: 14px 15px 19px;
      .i-items {
        margin-top: 15px;
        grid-auto-flow: column;
        column-gap: 47px;
      }
    }
  }

  @include mobile-down() {
    .rw-cards {
      .card {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .swq-qt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    &__wa {
      display: block;
      font-size: 16px;
      color: var(--red-5e);
      text-align: center;
      font-weight: bold;
    }

    &__qe {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 10px;
    }

    &__ll {
      display: block;
      font-size: 16px;
      color: var(--purple-8c);
      text-decoration: underline;
      font-weight: bold;
      margin-top: 8px;
    }
  }

  .__filter_bank {
    padding: 0 !important;
    @include web-desktop-up() {
      padding: 18px 15px !important;
    }
  }

  .__options {
    margin-top: 20px !important;
    @include web-desktop-up() {
      margin-top: 0 !important;
    }
  }
}

/*::v-deep {
  .custom-checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
  }

  .custom-checkbox input[type='checkbox'] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
  }

  .custom-checkbox label {
    position: relative;
  }

  .custom-checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 26px;
    height: 26px;
    border: 1px solid #707070;
    border-radius: 7px;
    padding: 4px 5px;
    transition: transform 0.28s ease;
  }

  .custom-checkbox label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #7bbe72;
    border-left: 2px solid #7bbe72;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 12px;
    left: 10px;
  }

  .custom-checkbox input[type='checkbox']:checked ~ label::before {
    color: #7bbe72;
  }

  .custom-checkbox input[type='checkbox']:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
  }

  .custom-checkbox label {
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
  }

  .custom-checkbox label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .custom-checkbox input[type='checkbox']:focus + label::before {
    outline: 0;
  }
}*/
