@import '@/assets/scss/mixin';

.train-with-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  align-items: flex-start;
  justify-items: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  .qw {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 15px;
    background-color: #fff;

    h1 {
      font-weight: bold;
      color: var(--blue-d6);
      font-size: 30px;
      text-align: center;
      margin: 60px auto 40px 0;
      @include web-desktop-up() {
        font-size: 40px;
        margin: 90px auto 70px 0;
      }
    }

    .qd-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      margin-bottom: 60px;
      @include web-desktop-up() {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 150px;
      }

      .qd-item {
        cursor: pointer;
        padding: 20px 15px;
        position: relative;
        display: grid;
        gap: 10px;
        grid-template-columns: auto 1fr;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        @include web-desktop-up() {
          grid-template-columns: 1fr;
          gap: 10px;
        }

        .qd-badge {
          position: absolute;
          right: 0;
          //transform: rotateZ(90deg);
          width: 60px;
        }

        &.blue {
          .qd-item-m1 {
            color: var(--blue-d6);
          }
        }

        &.orange {
          .qd-item-m1 {
            color: var(--orange-39);
          }
        }

        &__img {
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: center;
          img {
            width: 60px;
            height: auto;
          }
        }
        &__content {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .qd-item-m1 {
            font-weight: bold;
            font-size: 20px;
            color: var(--red-5e);
            text-align: start;
            @include web-desktop-up() {
              text-align: center;
            }
          }
          .qd-item-m2 {
            font-size: 13px;
            text-align: right;
            @include web-desktop-up() {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .st-q {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(100% - 10px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    @include web-desktop-up() {
      width: 100%;
    }
    .st-q-top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      padding: 10px 14px;
      border-bottom: 1px solid var(--gray-db);
      .st-q-icon {
        cursor: pointer;
      }
      .progress {
        width: 100%;
        border-radius: 8px;
        box-shadow: inset 2px 2px 4px #00000026;
        .progress-bar {
          border-radius: 8px;
          background: linear-gradient(to right, #58cc02, #4e9818);
        }
      }
    }

    .st-q-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      .st-q-date-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        .st-q-title {
          text-align: center;
          font-weight: bold;
          font-size: 22px;
          @include web-desktop-up() {
            font-size: 40px;
          }
          color: var(--blue-d6);
          margin: 60px auto 120px auto;

          &.step-2 {
            margin-bottom: 10px;
          }
        }

        .st-q-title-meta {
          text-align: center;
          font-size: 14px;
          @include web-desktop-up() {
            font-size: 20px;
          }
          color: var(--gray-63);
          margin: 0px auto 90px auto;
          &.q1 {
            margin-bottom: 30px;
            padding: 0 30px;
            @include web-desktop-up() {
              padding: 0;
              margin-bottom: 50px;
            }
          }
        }

        .c-date {
          width: 100%;
          max-width: 300px;
          margin: 0 auto 20px auto;
          border: 1px solid var(--gray-db);
          --p-datepicker-dropdown-background: #fff;
          .p-datepicker-dropdown {
            border: none;
            border-radius: 20px;
          }
        }

        .st-q-note {
          text-align: center;
          font-size: 14px;
          @include web-desktop-up() {
            font-size: 20px;
          }
          color: var(--gray-63);
        }

        .app-button {
          margin-top: 100px;
          margin-bottom: 60px;
          width: 200px !important;
          height: 50px !important;
        }

        &.step-4 {
          .app-button {
            margin-top: 42px;
            margin-bottom: 50px;
            @include web-desktop-up() {
              margin-bottom: 60px;
            }
          }
        }
      }
    }
  }

  .plan-tb {
    align-self: flex-start;
    margin-inline-start: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include web-desktop-up() {
      padding-inline-start: 40px;
      display: table;
    }
    td {
      display: block;
      font-size: 16px;
      @include web-desktop-up() {
        display: table-cell;
        font-size: 22px;
        padding-bottom: 10px;
      }
      &:nth-child(2) {
        font-weight: bold;

        @include web-desktop-up() {
          padding-inline-start: 30px;
        }
      }
    }
  }
}
